body {
	color: #2c3e50;
	font: 16px  "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	overflow-x: hidden;
	line-height: 1.5;
	height: 100%;
}

a {
	color: #333333;
	cursor: pointer;
	text-decoration: none;
	
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
a:hover, a:focus {
	color: #e60000;
	outline: none;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
	margin-top: 0;
}
h1 {font-size: 38px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

p.lead {
	font-size: 24px;
	font-weight: 200;
}
p {
	margin-bottom: 20px;
}
p:last-child {
	margin-bottom: 0;
}
ul, ol {
	margin-bottom: 20px;
}
blockquote {
	padding-top: 0;
	padding-bottom: 0;
	border-color: #1ABC9C;
}
blockquote small {
	color: inherit;
}
pre {
	background-color: rgba(255, 255, 255, .5);
	border-color: rgba(0, 0, 0, .1);
	margin-bottom: 20px;
}

.animate {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.animated {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*	Section
	==================================================*/
.section {
	/*padding:20px 0;*/
	height: 100%;
}
.active-section {
	top: 80px;
}
.navbar.active-section {
	top: 0 !important;
}

/*	Tab & Collapse Skin
	==================================================*/
.tab-pane {
	padding: 15px 0;
	margin-bottom: 5px;
}
.nav-tabs {
	border-bottom-color: #ecf0f1;
}
.nav-tabs>li>a {
	padding: 10px 0;
	margin-right: 30px;
	color: inherit;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background: transparent;
	border: none;
	border-color: rgba(255, 255, 255, 0);
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #ecf0f1;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
	color: #1abc9c;
	background: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: transparent;
	border: none;
	color: #1abc9c;
	border-bottom: 1px solid #1abc9c;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #1abc9c;
}
.nav .caret, .nav a:hover .caret {
	border-top-color: #1abc9c;
	border-bottom-color: #1abc9c;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #1abc9c;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #bdc3c7;
}
.navbar-inverse .navbar-toggle {
	background-color: #34495e;
	border-color: #2c3e50;
	margin-top: 23px;
}
.navbar-inverse .navbar-toggle:focus {
	outline: none;
}
.panel {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.panel-default {
	border-color: #ecf0f1;
}
.panel-default:last-child {
	margin-bottom: 25px;
}
.panel-default>.panel-heading {
	background: #f2f2f2;

}
.panel-title a {
	line-height: 30px;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
	border-top:none;
}
.panel-body {
	line-height: 25px;
	color: #595959;
}

/*	Form
	==================================================*/
label {
	font-weight: 300;
}
.input-group {
	margin-bottom: 10px;
}
.form-control {
	font-weight: 300;
	border-color: #ecf0f1;
	background-color: #ecf0f1;
	
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
.form-control[disabled]:hover, .form-control[readonly]:hover, fieldset[disabled] .form-control:hover,
.form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus {
	background-color: #ecf0f1;
}
.form-control:hover, .form-control:focus {
	outline: none;
	border-color: #ecf0f1;
	background-color: #FFF;
	
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.form-control:-moz-placeholder{color:#bdc3c7; font-weight: 300;}
.form-control::-moz-placeholder{color:#bdc3c7; font-weight: 300;}
.form-control:-ms-input-placeholder{color:#bdc3c7; font-weight: 300;}
.form-control::-webkit-input-placeholder{color:#bdc3c7; font-weight: 300;}
.input-group-addon {
	background-color: #FFF;
	border-color: #ecf0f1;
	color: #ecf0f1;
}
[class^="has-"] .form-control, [class*=" has-"] .form-control {
	color: #FFF;
}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
	color: #2ecc71;
}
.has-success .form-control {
	border-color: #2ecc71;
	background-color: #2ecc71;
}
.has-success .form-control:hover, .has-success .form-control:focus {
	border-color: #2ecc71;
	background-color: #FFF;
	color: #2ecc71;
	
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
	color: #e67e22;
}
.has-warning .form-control {
	border-color: #e67e22;
	background-color: #e67e22;
}
.has-warning .form-control:hover, .has-warning .form-control:focus {
	background-color: #FFF;
	border-color: #e67e22;
	color: #e67e22;
	
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
	color: #e74c3c;
}
.has-error .form-control {
	border-color: #e74c3c;
	background-color: #e74c3c;
}
.has-error .form-control:hover, .has-error .form-control:focus {
	background-color: #FFF;
	border-color: #e74c3c;
	color: #e74c3c;
	
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
/*	INTRO
	==================================================*/ 	
.introimg {
	margin-left: 100px;
	max-width: 645px;
}
.content-block-6 img {
	width: 100px;
	width: 100%;
	display: block;
	height: auto;
}
.introtitle {
	text-align: center;
	color: #cc0000;
	font-size: 4em;
	font-family: 'Open Sans';
}
@media screen and (max-width: 764px) {
    .introimg{margin-left:0px;}
}
@media screen and (max-width: 1200px) {
    .introimg2, #introsub1, #introsub2, #introsub3, .introimg4{display: none}
}
@media screen and (max-width: 768px) {
	.introtitle {font-size: 3.2em;}
}
.introsub {
	text-align: center;
	color: grey;
	font-size: 2.8em;
	padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
	.introsub {font-size: 2.5em; padding-bottom: 20px;}
}
.introimg2 {
	height: 100px;
	padding-top: 30px;
	margin-left: 133px;
	margin-top: 20px;
}
#introsub1 {
	text-align: center;
	padding-top: 15px;
	color: grey;
	font-size: 2em;
}
#introsub2 {
	text-align: center;
	color: #e60000;
	font-size: 1em;
	margin-top: -10px;
}
#introsub3 {
	text-align: center;
	padding-top: 10px;
	color: grey;
}
.introimg4 {
	height: 250px;
	opacity: 0.6;
	margin-top: 30px;
	margin-left: 50px;
}
	
	
/*	Header
	==================================================*/
#header {
	box-shadow: 0 0 5px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.05);
	width: 100%;
	
}
.maxlogonb {
    
}

/*	Parallax Background
	==================================================*/

/*#parallax {
  height: 680px;
  width: 100%;
  top: 0;
  position: fixed;
  background: url('http://placehold.it/1600x1600') center center no-repeat; 
  background-size: cover;
  z-index: -100;
}

/*	Navbar
	==================================================*/
.navbar-inverse .navbar-brand {
	padding: 25px 10px;
    font-size: 2.2em;
	margin-right: 15px;
	color:#116687;
}
.navbar-inverse .navbar-brand span {
    color:#ff4c4c;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #000;
}
.navbar-inverse {
	background-color: rgba(255, 255, 255, .9);
	
	border: none;
}
.navbar-right button {
	margin: 23px 0;
	margin-right: 20px;
}
.navbar-nav>li>a {
	padding: 30px 0;
	margin: 0 15px;
}
.navbar-inverse .navbar-nav>li>a {
	color: inherit;
	font-size: 1em;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: transparent;
	background-color: rgba(255, 255, 255, 0);
	color:#0479a6;
}
.header-button {
	margin-left: 15px;
}


/*	Hero2 
	==================================================*/

.fornow {
  margin-top: 500px;
}

.Hero2 img {
	width: inherit;
	max-width: 100%;
	height: auto;
	z-index: -300;
	margin-top: -30px;
}
@media screen and (max-width: 1200px) {
	.preback {margin-top: -140px;}
	.Hero2 img {max-width: 107.5%;}
	.Hero22 {margin-left: -50px;}
}

@media screen and (max-width: 992px) {
	.herocolor {
		font-size: 1.5em;
		margin-left:  -3px;
	}
}
.Hero22 img {
	height: 270px;
	z-index: 150;
	margin-left: 850px;
	margin-top: -380px;
}
@media screen and (max-width: 992px) {
	/*.Hero22 img {display: none;}*/
	.overview .herocolor2 {max-width: 740px;}
}
@media screen and (max-width: 1120px) {
	.Hero22 img {
		margin-left: 800px;
		height: 230px;
	}
}
@media screen and (max-width:) {
	.Hero22 {hero22: 250px;}
}
.preback {
	background-color: transparent;
	width: 100%;
	max-width: inherit;
	height: 300px;
	margin-left: -15px;
	z-index: 1000;
	bottom: 0%;
	position: absolute;
}
.infoTitle {
    font-family: "Roboto";
    font-size: 3em;
    padding-left: 50px;
    padding-top: 120px;
    font-weight: 100;
}
.infoTitle span {
    color:#ff4c4c;
}
.subinfo {
    padding: 100px;
    font-size: 4em;
    font-weight: 500;
}
.subinfoinfo {
    padding: 50px;
    font-size: 2em;
    font-weight: 100;
}
.overview .herocolor {
	color: white;
	margin-left: 105px;
	padding-top: 95px;
	position: relative;
	font-size: 2em;
}
@media screen and (max-width: 1100px) {
	.overview .herocolor h1 {margin-left: 0px;}
}
.overview .herocolor strong {
	font-size: 1.4em;
}
.preback {
	display: block;
}
.overview .herocolor2 {
	text-align: left;
	margin-left: 105px;
	color: white;
	max-width: 640px;
	margin-top: 25px;
	font-size: 1.05em;
	position: relative;
	line-height: 40px;
}
.overview .herocolor2mobile {
	text-align: left;
	margin-left: 105px;
	color: #404040;
	max-width: 640px;
	margin-top: 25px;
	font-size: 1.05em;
	position: relative;
	line-height: 40px;
}
.overview .herocolor span {
	border-bottom: solid white 5px;
}
@media screen and (max-width: 768px) {
    .hero22 img {display: none;}
}
@media screen and (max-width: 768px) {
    .preback {margin-top:72px;}
}
@media screen and (max-width: 768px) {
	.banner2 {display: none;}
}
@media screen and (max-width: 768px) {
	.Hero2 img {
		margin-top: -60px;
		max-width: 113.2%;
	}
	.preback {
		margin-top: -120px;
		max-height: 339px;
		margin-left: -85px;
		width: 740px;
	}
}
@media screen and (max-width: 853px) {
	.preback {height: 370px;}
	.herocolor h1 {font-size: 20px;}
	.herocolor2 p {font-size: 16px;}
	.overview .herocolor {padding-top: 75px;}
}


/*	Features
	==================================================*/ 
.overview {
	text-align: left;
	color: black;
	margin-top: -40px;
}
.oevrview h1 {
	font-size: 0.6em;
}
.overview span {
	border-bottom: solid white 5px;
	padding-bottom: 7px;
}
.overview h1 strong {
	font-size: 1.4em;
}
.overview .lead {
	margin-bottom: 80px;
	text-align: left;
	max-width: 660px;
	margin-left: 0px;
	font-size: 22px;
	line-height: 32px;
	padding-top: 15px;
	color: white;
}
.service-block {
	margin-top: -155px;
	display: block;
	padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
    .service-block {
		display: inline;
		text-align: center;
		max-width: 300px;
	}
	.service-block p {
		margin-left: auto;
		margin-right: auto;
	}
	.service-block img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
.service-block h3 {
	font-size: 2.2em;
	color: #404040;
}
.service-block p {
	font-size: 0.9em;
	text-align: left;
	max-width: 500px;
	color: #808080;
	line-height: 30px;
	padding-bottom: 10px;
}
.service-block img {
	max-height: 60px;
	margin-bottom: 20px;
	margin-top: 170px;
} 
@media screen and (max-width: 992px) {
    .service-block img {margin-top: 20px;}
}
@media screen and (max-width: 768px) {
	#features {display: none;}
}
/*	LOBBY STYLE
	==================================================*/ 
.lobby {
    background-color:#d0d0d0;
    position: absolute;
    margin-top: 80px;
    margin-left: 0;
    width: 50%;
    height: 90%
}
.lobbyTitle {
    font-family: "Roboto";
    margin-left: 35%;
    margin-top: 5%;
    font-weight: 100;
}








/*	Responsive
	==================================================*/ 

@media (max-width: 991px) {
	.service-block  {
		margin-bottom: 50px;
	}
	#image img.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}
	.faq-block {
		margin: 0 60px;
	}
	.navbar-nav>li>a {
		margin: 0 10px;
	}
}
@media (max-width: 767px) {
	.service-block, .img-responsive, .carousel {
		margin-bottom: 30px;
	}
	.overview .lead {
		margin-left: 0;
		margin-right: 0;
	}
	.container {
		max-width: 690px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.faq-block {
		margin: 0 50px;
	}
	.navbar-nav>li>a {
		padding: 10px;
	}
	.header-button {
		margin: 0;
	}
	.navbar-right button {
		margin-top: 0;
		margin-bottom: 50px;
	}
}
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4, .carousel-inner blockquote p {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}
	p.lead {
		font-size: 18px;
	}
	.section {
		padding: 60px 0;
	}
	.overview p.lead {
		margin-bottom: 40px;
	}
	.service-block, .img-responsive, .carousel {
		margin-bottom: 30px;
	}
	.overview .lead {
		margin-left: 0;
		margin-right: 0;
	}
	.container {
		max-width: 690px;
		padding-left: 30px;
		padding-right: 30px;
	}
	#newsletter form {
		width: 100%;
		margin: 0;
	}
	.input-lg, .btn-lg {
		font-size: 12px;
		height: 37px;
	}
	.faq-block {
		margin: 0 40px;
	}
	

}
@media (max-width: 490px) {
	.container {
		max-width: 430px;
		padding-left: 30px;
		padding-right: 30px;
	}
	#gallery .col-xs-6 {
		width: 50%;
	}
	.faq-block {
		margin: 0;
	}
}